@media screen and (max-width: 991px) {
  .logo img {
    display: block;
    margin: auto;
  }

  .title h1, .title h4 {
    text-align: center;
  }

  .featured-work-label {
    text-align: center;
    font-size: 0.75em;
  }

  .projects img {
    width: 50%;
  }
}
