.title {
  text-align: right;
}

.font-properties {
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: #4C4C4C;
}

.logo-image {
  width: 15%;
  padding-left: inherit;
}

.featured-work-label {
  color: #999;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
}

.projects, .modal-content {
  text-align: center;
}

.project-links {
  text-decoration: none;
  color: #4c4c4c;
  font-family: 'Lato', sans-serif;
}

.project-img {
  display: block;
  margin: auto;
  width: 70%;
}

.footer {
  text-align: center;
  color: #999;
  font-family: "Poiret One", cursive;
}

.project-summary {
  font-family: "Lato", sans-serif;
  color: #333;
}

@media screen and (max-width: 991px) {
  .logo-image {
    display: block;
    margin: auto;
  }

  .sm-screen-align {
    text-align: center;
  }

  .featured-work-label {
    text-align: center;
    font-size: 0.75em;
  }

  .project-img {
    width: 50%;
  }
}
